body{
     background: linear-gradient(to right, #0be0fc, #ff85ae);
}

h1 {
    background-color: rgb(63, 214, 224);
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #060911;
}


.kepala div{
    margin-top: 200px;
}
.kepala p{
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 90px;
}


table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 50%;
    position: relative;
    top: 90px;
    margin: 30px auto;
    border-collapse: collapse;
    width: 60%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table, th, td {
    border: 1px solid #444;
}

th, td {
    padding: 10px;
    text-align: left;
}

th{
    background-color: rgb(38, 204, 190);
}

img{
    position: relative;
    margin-left: 20px;
    top: -1100px;
    border-radius: 50%;
}

.form{
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 100px;
    width: 60%;
    margin: 20px auto;
    background-color: #b7e7ef;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 400px;
}

.list{
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    position: relative;
    top: 100px;
    font-family: 'Times New Roman', Times, serif;
}

input[type="text"], input[type="email"] {
            width: 95%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #bbb;
            
}

input[type="radio"] {
            margin-right: 6px;
        }

        input[type="submit"] {
            background-color: #2196f3;
            color: white;
            border: none;
            padding: 10px 25px;
            border-radius: 5px;
            margin-top: 15px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #1976d2;
        }

        footer {
            text-align: center;
            margin: 30px 0 10px 0;
            color: #666;
            font-size: 14px;
        }

input[type="checkbox"]{
    margin-right: 5px;
    
}

.hobi{
    text-align: left;
    margin-left: 30px;
}



